a{text-decoration: none;}
tr{text-align: center;}
.cart-step{
	width: 250px;
	height: 20px;
	margin: 40px auto;
	padding-top: 20px;
	font-size: 16px;
	list-style: none;
	font-size: 28px;
	font-weight: 700;
}
.cart-step li{
	padding: 0 20px;
	float: left;
	margin-left: -1px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.cart-step .action{
	color: orange;
}
.cart-table{
	width: 1000px;
	margin: 10px auto;
	margin-top: 40px;
	background-color: darkgray;
		
}
.cart-box,.cart-price,.cart-subtotal,.cart-operate{
	width: 10%;
}
.cart-name{
	width: 40%;
}
.cart-num{
	width: 20%;
}

.product img{
	width: 80px;
	height: 80px;
	float: left;
}
.cart-table span{
	line-height: 80px;
}
.cart-table .product td{
	padding: 10px 0;
	border-bottom: 2px solid darkgoldenrod;
	border-top: 2px solid darkgoldenrod;
}
#goodsnum{
	width: 20px;
	text-align: center;
}


.account{
	width: 1000px;
	height: 40px;
	margin: 5px auto;
	background-color: darkgrey;
}
.account-btn{
	float: right;
	width: 130px;
	height: 40px;
	font-size: 20px;
	font-weight: 700;
	color: white;
	margin-left: 20px;
	background-color: darkorange;
}
.total{
	margin: 0;
	float: right;
	line-height: 40px;
	font-weight: 700;
}
.total span{
	color: red;
}
