.headr{
	width: 100%;
	height:48px;
	background:rgb(37,41,46);
	margin-bottom: 50px;
}
.nav{
	width: 1000px;
	height:48px;
	background: rgb(37,41,46);
	margin: 0 auto;
}
.logo{
	width: 73px;
	height: 31px;
	background: url(../img/icon.png) no-repeat ;
	background-size:202%;
	float: left;
	margin-top:10px;
}
.right{
	width: 300px;
	height: 48px;
	float: right;
}
.right li{
	float: left;
}
.right .right_nav{
	width: 320px;
	height: 48px;
}
.login,.register{
	font-size:10px;
	padding: 0 5px;
	color: rgb(204,204,204);
	line-height: 48px;
	margin-right: 10px;
}
.cart,.message,.good{
	font-size: 8px;
	color: darkgray;
	border-left: 1px solid rgb(204,204,204);
	padding: 0 20px;
	height: 22px;
	margin-top: 14px;
	line-height: 26px;
}
.cart:hover{
color: whitesmoke;
}
.message:hover{
	color: whitesmoke;
}
.good:hover{
	color: whitesmoke;
}
.drop_cart{
	width: 300px;
	height:100px;
	background:rgb(37,41,46) ;
	position: absolute;
	top:22px;
	left:-153px;
	display: none;
	z-index: 20;
}
.cart p{
	text-align:center;
	font-size:15px;
	display: block;
	height: 50px;
	line-height: 40px;
	color: rgb(204,204,204);
}
.drop_cartdown{
	width: 300px;
	height: 50px;
	background:rgb(125,191,222) ;
	line-height: 50px;
	display: block;
	text-align: center; 
	font-size: 15px;
	color: rgb(204,204,204);
}
.cart{
	position: relative;
}
.cart:hover{
	cursor: pointer;
}
.cart:hover .drop_cart{
	display: block;
}
.message{
	position: relative;
}
.drop_message{
	width:190px;
	height: 260px;
	background: rgb(37,41,46);
	position: absolute;
	left: -67px;
	top:21px;
	display: none;
	z-index: 20;
}
.drop_message li{
	float: none;
	height: 40px;
	line-height: 45px;
	border-bottom: 1px solid rgb(63,68,73);
	width: 100px;
	padding: 0 10px;
	font-size :12px;
}
.message>li:hover{
	background: grey;
}
.message:hover .drop_message{
	display: block; 
}
.nav_bottom{
	width:1000px;
	height:40px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	box-shadow:0 0 11px 2px #a8a8a8;
}
.nav_bottom li{
	float: left;
	line-height:40px;
	font-size:14px;
	padding: 0 36px;
	list-style: none;
}
.nav_bottom li a{
	text-decoration: none;
	color: #020202;
}
.nav_bottom li:hover{
	border-bottom: 2px solid rgb(37,41,46);
}
.nav_bottom li:hover a{
	color: tomato;
}
.search{
	display: block;
	position: relative;
	width: 33px;
	height: 34px;
	background: url(../img/icon.png) no-repeat -167px -145px;
	float: right;
	cursor: pointer;
	padding: 2px 5px;
	z-index: 10;
}
.search-box{
	width: 180px;
	height: 40px;
	border-bottom: 2px solid rgb(37,41,46);
	position: absolute;
	right: -180px;
}
.search-box input{
	width: 180px;
	height: 40px;
	border: none;
	outline: none;
	padding: 0 5px;
}
