.register{
	width: 540px;
	height:240px;
	margin: 0 0 0 35%;
}
.register>div{
	height: 60px;
}
.register input{
	border: none;
	outline: none;
	width: 223px;
}
.username{
	display: block;
	letter-spacing: 15px;
	width: 233px;
	font-size: 13px;
	border:1px solid darkgoldenrod;
	padding: 10px;
	/*text-align: right;*/
}
.password{
	display: block;
	/*text-align: right;*/
	width: 233px;
	font-size: 13px;
	letter-spacing: 8px;
	border:1px solid darkgoldenrod;
	padding: 10px;
	
}
.sub{
	width: 263px;
	float: left;
	text-align: center;
}
.btn{
	width: 263px;
	padding: 10px;

}
#user_error,#pass_error,#error_again{
	width: 200px;
	height: 20px;
	font-size:12px;
	color: red;
	border: 1px solid red;
	display: none;
	float: right;
}
.error>div{
	float: left;
}

